<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 이것들은 필수다 -->
    <script src= "/js/jquery/jquery-3.5.0.js"></script>
    <script src= "/js/jquery/jquery.1.10.2.min.js"></script>
    <script src="/js/jquery/jquery.datetimepicker.full.min.js"></script>
    <script src="/js/rainbow-custom.min.js"></script>

    <!-- echarts -->
         <script type="text/javascript" src="/js/echarts.min.js"></script>
         <link rel="stylesheet" type="text/html" href="/css/jquery.datetimepicker.css" />

     <!-- date-time picker -->
     <link rel="stylesheet" href="/css/jquery.datetimepicker.min.css" />
     <script src="/js/jquery/jquery-ui.min.js"></script>

    <!-- dataTables -->
    <script src="/js/jquery/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css" >
    
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.5.1.3.css" rel="stylesheet"  crossorigin="anonymous">

    <style>
        header {
            margin-top: 30px;
            background-color: white;
            border: 2px groove rgba(204, 200, 200, 0.76);
            padding: 30px;

            font-family: 'Noto Sans CJK KR', 'Malgun gothic', '맑은고딕', sans-serif;

        }

        .totalcnt {
            text-align: right;
            font-family: 'Noto Sans CJK KR', 'Malgun gothic', '맑은고딕', sans-serif;
        }

        th,
        td {
            white-space: nowrap;
        }

        body {
            /* background: linear-gradient(180deg, rgba(255, 249, 242, 1) 0%, rgba(255, 249, 242, 1) 45%, rgba(194, 224, 254, 1) 100%); */
        }

        body::before {
            background: linear-gradient(180deg, rgba(255, 249, 242, 1) 0%, rgba(255, 249, 242, 1) 45%, rgba(194, 224, 254, 1) 100%);
            content: '';
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: -1;
        }

        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
            font-family: 'Noto Sans CJK KR', 'Malgun gothic', '맑은고딕', sans-serif;
        }

        .btn2 {
            color: white;
            font-family: 'Noto Sans CJK KR', 'Malgun gothic', '맑은고딕', sans-serif;
            text-align: center;
            background-color: #0d6efd;
            border-color: #0d6efd;

            font-weight: bold;
            border-radius: 5px;
        }

        .btn2:hover {
            background-color: #f37021;
            border-color: #f37021;
            color: white;
        }

        div {
            font-family: 'Noto Sans CJK KR', 'Malgun gothic', '맑은고딕', sans-serif;
            font-weight: bold;
        }
        h1{
            padding-left: 200px;
            padding-top: 30px;
            font-weight: bold;
        }

        h2 {
            text-align: left;
            font-family: 'Noto Sans CJK KR', 'Malgun gothic', '맑은고딕', sans-serif;
            margin-bottom: 40px;
        }

        h3 {
            font-size: 1.5rem;
            margin-bottom: 30px;
        }

        section {
            margin-top: 30px;
            border: 2px groove rgba(204, 200, 200, 0.76);
            background-color: white;
            padding: 30px;
        }

        .margin-left {
            margin-top: 40 px;
        }


        /* .selectParkingLot {
            display: none;
        } */

        .btn-group label {
            margin: 10px !important;
            border-radius: 5px !important;
            background-color: white;
        }

        /* .selectParkingLot .btn-group {
            display: initial;
        } */

        #mask {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 999;
            background-color: #000000;
            display: none;
        }

        .layerpop {
            display: none;
            z-index: 1000;
            border: 2px solid #ccc;
            background: #fff;
            cursor: default;
        }

        .layerpop_area .title {
            padding: 10px 10px 10px 10px;
            border: 0px solid #aaaaaa;
            background: #f1f1f1;
            color: #003e92;
            font-size: 1.3em;
            font-weight: bold;
            line-height: 24px;
            cursor: default;
        }

        .layerpop_area .layerpop_close {
            width: 25px;
            height: 25px;
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            background: transparent url('btn_exit_off.png') no-repeat;
        }

        .layerpop_area .layerpop_close:hover {
            background: transparent url('btn_exit_on.png') no-repeat;
            cursor: default;
        }

        .layerpop_area .content {
            width: 96%;
            margin: 2%;
            color: #828282;
        }

        input[readonly]#inputParkingLot {
            background-color: white;
            border: 1px solid #ced4da;
            font-size: 1em;
        }

        .cctvChartTable {
            color: white;
        }
        #period-tab{
            margin-top: 25px;
            margin-bottom: 15px;
            word-spacing: 70px;
        }
    </style>

    <script>
        //서버에서 받은 통계 데이터(그래프 데이터)
        let option = {
            title: {
                text: '검색 결과 값'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['10월 01일', '10월 02일', '10월 03일']
            },
            yAxis: {
                type: 'value'
            },
            series: [

            ]
        };



        //주차장 선택창 오픈여부
        let isSelectParkingAreaOpen = false;
        //서버에서 가져온 추자장 리스트
        let parkingLotNameArray = [
            {
                name: "전 체",
                value: "All_parking"
            },
            {
                name: "1공영 주차장",
                value: "1parking"
            },
            {
                name: "2공영 주차장",
                value: "2parking"
            },
            {
                name: "3공영 주차장",
                value: "3parking"
            },
            {
                name: "4공영 주차장",
                value: "4parking"
            }
        ];

        //선택한 주차장 이름 input에 설정
        function setSelectParkingLotInput(index, event) {
            console.log("index", index);
            //TODO - 전체 선택했다가 전체버튼이 아닌 다른거 취소하면 전체 해제해야함.
            if (index === 0) {
                //전체가 선택되면 
                let checkFlag = $(event).is(":checked");
                $(".btn-check").prop('checked', checkFlag);

            }

            let checkedParkingLotList = $("input:checkbox[name=parkingLotName]:checked");
            let parkingLotList = "";
            let withoutTotal = parkingLotNameArray.slice(1);
            let selectAll = "";

            checkedParkingLotList.each(function (index) {
                console.log(parkingLotNameArray.length)
                console.log(index)
                console.log($(this).val())
                if (withoutTotal.length == index) {
                    parkingLotList = "전체 주차장"
                } else {
                    parkingLotList += ($(this).val()) + (index + 1 === checkedParkingLotList.length ? "" : ", ");
                }

            });
            $("#inputParkingLot").val(parkingLotList);
        }

        //주차장 선택창 세팅함수. parkingLotNameArray를 기준으로 주차장 버튼생성
        function setParkingLotName() {
            parkingLotNameArray.forEach((parkingLot, index) => {
                let parkingLotHtml = `
                    <input  type="checkbox" 
                            class="btn-check selectArea" 
                            id="btnCheck${index}" 
                            autocomplete="off" 
                            value="${parkingLot.name}" 
                            name="parkingLotName" 
                            onclick="setSelectParkingLotInput(${index}, this)"
                    >
                    <label class="btn btn-outline-primary selectArea" for="btnCheck${index}">${parkingLot.name}</label>
                `;
                $(".selectParkingLot .btn-group").append(parkingLotHtml);
            });
        }

        //주차장선택 창 뷰잉
        function showParkingLotList() {
            $(".selectParkingLot").fadeIn("slow");
            $(".selectParkingLot").css("display", "flex");
            isSelectParkingAreaOpen = true;
        }

        // //추차장 선택 외 (클래스에 selectArea가 없는 경우) 화면 클릭 시 선택 창 숨김
         $(document).click(function (e) {
             if (isSelectParkingAreaOpen === true) {
                 let className = e.target.className;
                //  if (className.indexOf("selectArea") === -1) {
                //      $(".selectParkingLot").fadeOut("slow");
                //  }
             }
         });

        //datetime picker
        $(document).on('click', '.dateRow .remCF', function () {
            $(this).parent().remove();
        });


        $(document).ready(function () {
            $.datetimepicker.setLocale('ko');
            setDataTable()
            $(".date-picker").datetimepicker({ format: 'Y-m-d', timepicker: false });
            $(".time-picker").datetimepicker({ format: 'H', datepicker: false });
            // $("#fromDate").val( formatDate("from") );
            // $("#toDate").val( formatDate("to") );
            //@TEST
            $("#fromDate").val("2021-10-01");
            $("#toDate").val("2021-10-04");
            $("#fromTime").val("13:00");
            $("#toTime").val("15:00");


            $(".addCF").click(function () {
                $("#dateSection").append(`
                    <div class="dateRow">
                        <input type="text" class="date-picker" placeholder="처음일" style="text-align: center;" name="fromDate"/> &nbsp;~
                        <input type="text" class="date-picker" placeholder="나중일" style="text-align: center;" /> &nbsp; 
                        <input type="text" class="time-picker" style="text-align: center; width: 5%"/> ~
                        <input type="text" class="time-picker" style="text-align: center; width: 5%"/>
                        <a href="javascript:void(0);" class="remCF"><img src="/img/minusbutton.png"></a>
                    </div>`
                );

                let lastDiv = $("#dateSection div:last-child");
                $(lastDiv).find(".date-picker").datetimepicker({ format: 'Y-m-d', timepicker: false });
                $(lastDiv).find(".time-picker").datetimepicker({ format: 'H:00', datepicker: false });
            });

            setParkingLotName();
            //getChartData();
        })


        function setDataTable() {

            //테이블 언어 세팅
            $('#cctvChartTable').DataTable({
                "language": {
                    "lengthMenu": "_MENU_ 개씩 보기",
                    "zeroRecords": "아무런 결과가 나오지 않았습니다.",
                    "info": "전체 페이지 _PAGES_ 중 _PAGE_",
                    "infoEmpty": " 정보가 없습니다",
                    "infoFiltered": "(전체 _MAX_ 명 중 검색결과)",
                    "search": "검색: ",
                    "paginate": {
                        "first": "처음",
                        "last": "마지막",
                        "next": "다음",
                        "previous": "이전"
                    }
                },
                "lengthMenu": [25, 50, 100]
            });

        }

        function wrapWindowByMask() {
            //화면의 높이와 너비를 구한다.
            var maskHeight = $(document).height();
            var maskWidth = $(window).width();

            //문서영역의 크기 
            console.log("document 사이즈:" + $(document).width() + "*" + $(document).height());
            //브라우저에서 문서가 보여지는 영역의 크기
            console.log("window 사이즈:" + $(window).width() + "*" + $(window).height());

            //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채운다.
            $('#mask').css({
                'width': maskWidth,
                'height': maskHeight
            });

            //애니메이션 효과;      
            $('#mask').fadeTo("slow", 0.5);
        }
        function goDetail() {
            if(option.series.length === 0 ){
                alert("차트보기 할 데이터가 없습니다. 조회 후 다시 시도하시기 바랍니다.");
                return;
            } 
            popupOpen(); //레이어 팝업창 오픈 
            wrapWindowByMask(); //화면 마스크 효과 
            var dom = document.getElementById("chart");
            var myChart = echarts.init(dom);
            myChart.setOption(option);
        }
        function popupOpen() {
            $('.layerpop').css("position", "absolute");
            //영역 가운에데 레이어를 뛰우기 위해 위치 계산 
            $('.layerpop').css("top", (($(window).height() - $('.layerpop').outerHeight()) / 2) + $(window).scrollTop());
            $('.layerpop').css("left", (($(window).width() - $('.layerpop').outerWidth()) / 2) + $(window).scrollLeft());
            $('#layerbox').show();
        }

        function popupClose() {
            $('#layerbox').hide();
            $('#mask').hide();
        }

        function formatDate(opt) {
            let current_datetime = new Date();
            let formatted_date = current_datetime.getFullYear() + "-" + (current_datetime.getMonth() + 1) + "-" + current_datetime.getDate() + " ";
            if (opt == "from") {
                formatted_date += "00:00:00";
            }
            else {
                formatted_date += current_datetime.getHours() + ":" + current_datetime.getMinutes() + ":" + current_datetime.getSeconds();
            }

            return formatted_date;
        }

        function getChartData() {
            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();

            //@TEST
            fromDate = "2021-10-27";
            toDate = "2021-10-27";

            $.getJSON("/chartData2?fromDate=" + fromDate + "&toDate=" + toDate, function (data) {
                console.log("[chartData2] series:", data.option);
                console.log("[chartData2] error:", data.error);
                //예외처리 필요
                option = data.option;
                let eventDataArr = option.series[0].data;

                // $("#cctvChartTable tbody").append(`
                //     <tr>
                //         <td>${eventDataArr[0]}</td>
                //         <td>${eventDataArr[1]}</td>
                //         <td>${eventDataArr[2]}</td>
                //         <td>${eventDataArr[3]}</td>

                //     </tr>`
                // );
            });
        }

        let chartJson = [];


        let chartDataArr = [];
        let searchResult;
        let seeChart;
        function searchParkingData(event) {
            $("#cctvChartTable tbody").html('');
            let checkedParkingLotList = $("input:checkbox[name=parkingLotName]:checked");
            const fromDateDay = new Date($("#fromDate").val()).getDate();
            const toDateDay = new Date($("#toDate").val()).getDate();
            const fromTime = $("#fromTime").val();
            const toTime = $("#toTime").val();
            const timeGap = $("#toTime").val() - $("#fromTime").val() + 1;
            let sumArr = [];
            console.log("timeGap", timeGap);
            console.log("fromDate", fromDate);
            
            if(parkingLotNameArray.length === 0 ){
                alert("세 명이 오리라 ");
                return;
            } 

            option.series = [];
            option.legend = [];
            //console.log("")
            checkedParkingLotList.each(function (index) {
                const parkingLotName = $(this).val();

                if (parkingLotName === "전 체")
                    return true;
                chartDataArr[index] = [];
                for (let day = fromDateDay; day <= toDateDay; day++) {
                    let totalCount = 0;
                    for (let time = fromTime; time <= toTime; time++) {
                        let parkingCnt = parseInt(Math.random(59) * 10);
                        $("#cctvChartTable tbody").append(`
                            <tr>
                                <td>${parkingLotName}</td>
                                <td>10-${day}</td>
                                <td>${time}</td>
                                <td>${parkingCnt}</td>
                            </tr>`
                        );
                        // let aa = {};
                        // aa.parkingLotName = parkingLotName;
                        // aa.day = day;
                        // aa.time = parseInt(time);
                        // aa.parkingCnt = parkingCnt;
                        // chartJson.push(aa);

                        totalCount += parkingCnt;
                      
                    }
                    chartDataArr[index].push(totalCount);
                }
                setChartSeries({name: parkingLotName , data: chartDataArr[index]});
                //setLegends();
                
            });

            return false;

        }

        let legend = {
            data: []
        };

        function setChartSeries(parking){
            let series =   {
                name: '',
                type: 'line',
                stack: 'Total',
                data: []
            };

            series.name = parking.name;
            series.data = parking.data;
            //legend.data = parking.data;      

            console.log("series", series);
            console.log("legend",  parking.name);

            option.series.push(series);
            option.legend.push(legend);
        }

        // function setLegends(){
        //     console.log("11")

        //     let legend = {
        //         data: []
        //     };
        //     legend.data = ['aaa', 'sss', 'ffff'];
        //     console.log(legend)
        //     option.legend.push(legend);
        // }
        

    </script>
    <title>시흥도시공사 주차관제 통계</title>
</head>

<body>
    <h1> 시흥도시공사 주차관제 통계 </h1>
    <div class="container">
        <header>
            <form>
                <h3> 주차장 검색 </h3>

            <div class="form-group row" id="parkingLotSection">
                    <!-- <label for="inputParkingLot" class="col-sm-2 col-lg-1 col-form-label">주차장</label>
                     <div class="col-sm-10 col-lg-11">
                         <input type="text" class="form-control selectArea" id="inputParkingLot" readonly  placeholder="먼저 조회할 주차장을 선택해 주십시오"
                            onclick="showParkingLotList()"> 
                            이것도 별개로
                            <button class="btn btn-outline-primary" type="button" onclick="showParkingLotList()"></button>
                    </div>  
                -->
                <div class="selectParkingLot selectArea">
                    <!-- <div class="col-sm-2 col-lg-1"></div> -->
                    <div class="col-sm-10 col-lg-11 selectArea">
                        <div class="btn-group selectArea" role="group" aria-label="Basic checkbox toggle button group">
                        </div>
                    </div>
                </div>
            </div>
                <div class="form-group row" id="dateSection">
                    <div id= "period-tab"><label for="customFieldName">기간 &nbsp; &nbsp;                시간 </label></div>
                    <div> 
                        <input type="text" class="date-picker" placeholder="처음일" name="fromDate" id="fromDate" style="text-align: center; width: 15%"
                            required /> &nbsp;~
                        <input type="text" class="date-picker" placeholder="나중일" id="toDate" style="text-align: center; width: 15%" required /> &nbsp;
                        <input type="text" class="time-picker" id="fromTime" style="text-align: center; width: 5%" required /> ~ 
                        <input type="text" class="time-picker" id="toTime" style="text-align: center; width: 5%" />
                        <a href="javascript:void(0);" class="addCF"><img src="/img/plusbutton.png"></a>
                    </div>
                </div>
                <br />
                <div style="float: right">
                    <button class="btn2" onclick="return searchParkingData(this);" id="searchResult">시간 별 조회</button>
                    <button class="btn2" onclick="return searchParkingData(this);" id="searchResult">날짜 별 조회</button>
                </div>
            </form>

            <br />

        </header>
        <br />
        <br />
        <section>
            <div style="background-color: white;">
                <h3 class="slds-text-heading_large slds-p-bottom_large">  주차장별 주차발생건수 </h3>
                <div style="float: right">
                    <button class="btn2" style="margin-bottom: 20px;" onClick="javascript:goDetail('테스트');" id="seeChart">차트 보기</button>
                </div>
                <table id="cctvChartTable" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>주차장</th>
                            <th>날짜()</th>
                            <th>시간(시)</th>
                            <th>주차차량수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            <br />
            <br />



        </section>
    </div>

    <!-- 팝업뜰때 배경 -->
    <div id="mask"></div>

    <!--Popup Start -->
    <div id="layerbox" class="layerpop" style="width: 80%; height: 80%;">
        <article class="layerpop_area">
            <div class="title">차트 결과</div>
            <a href="javascript:popupClose();" class="layerpop_close" id="layerbox_close"><img
                    src="/img/btn_exit_on.png"></a> <br>

            <div class="content">
                <!-- 그래프 넣을 부분-->

                <div id="chart" style="height: 400px;">

                </div>
            </div>
        </article>
    </div>


    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script> -->
</body>

</html>