<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/bootstrap4.min.css">
        <script src="/js/bootstrap4.min.js"></script>        

        <script type="text/javascript" src="/js/echarts.min.js"></script>
        <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script> 
        <script type="text/javascript">  

            function getToday() {

                let today = new Date();   

                let year = today.getFullYear(); // 년도
                let month = today.getMonth() + 1;  // 월
                let date = today.getDate();  // 날짜
                //let day = today.getDay();  // 요일

                if (month < 10) {
                month = "0" + month;
                }
                if (date < 10) {
                date = "0" + date;
                }  

                var ret = year + '-' + month + '-' + date;
            return ret;
            }


            function getNextDay() {

                let today = new Date();    

                var myDate = new Date(new Date().getTime()+(1*24*60*60*1000)); 

                let year = myDate.getFullYear(); // 년도
                let month = myDate.getMonth() + 1;  // 월
                let date = myDate.getDate();  // 날짜
                //let day = myDate.getDay();  // 요일

                if (month < 10) {
                month = "0" + month;
                }
                if (date < 10) {
                date = "0" + date;
                }  

                var ret = year + '-' + month + '-' + date;
                return ret;
            }        

            window.onload = function() { 

                var dom = document.getElementById("chart");
                var myChart = echarts.init(dom);
                var app = {};

                var fromDate = getToday();
                var toDate = getNextDay(); 

                if (!fromDate){
                    fromDate = getToday();
                }
                if (!toDate){
                    toDate = getNextDay();
                }                         
                
                var option;          

                $.getJSON("/chartData2?fromDate=" + fromDate + "&toDate=" + toDate, function(data){
                    console.log("[timeChartData] data:", data.option);
                    
                    if (data.option){
                        myChart.setOption(data.option);
                    }
                });      
            }

        </script>        
    </head>
    <body style="height: 100%; margin: 20;">
        
        <br />
        <div style="padding-left: 100px;padding-right: 100px;">
            <nav class="navbar navbar-expand-sm bg-primary navbar-dark" >
                <ul class="navbar-nav">
                    <input size="10" style="margin-left:2px;margin-right: 10px;"/>
                <li class="nav-item">
                    <a class="nav-link" href="/chart1">[이벤트 현황(총계)]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chart2">[날짜별 발생 현황]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chart3">[시간대별 발생 현황]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chart4">[장소별 발생 현황]</a>
                </li>
                </ul>                
            </nav>

            <br />
            <br />            

            <div id="chart" style="height: 800px;"></div>   
        </div> 
    </body>
 
</html>
    