<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap4.min.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <title>로그인 페이지</title>


    <style>
        body {
            background: linear-gradient(180deg, rgba(255, 249, 242, 1) 0%, rgba(255, 249, 242, 1) 45%, rgba(194, 224, 254, 1) 100%);
            min-height: 100vh;
            overflow: hidden;
        }

        body::before {
            content: '';
            background: url('./img/bg_bullet.png') no-repeat 0 0;
            width: 100%;
            height: 100%;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 57%;
            transform: translateX(-50%);
        }

        .login_area{
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            position: absolute;
            background-color: white;
            border-radius: 20px;
            box-shadow: 10px 0px 20px rgb(0 0 0 / 10%);
        }

        .login_area .login_cont{
            padding: 50px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="login_area">
            <div class="login_cont">
                <img src="img/siheung_logo.jpg">
                <h1 class="comment">주차장 관제 페이지</h1>
                <h3 class="tit_login" alt="로그인타이틀">Login</h3>
                <form id="login-form" class="form" action="/login" method="post">
                    <input type="text" class="input_text input_id" name="username" placeholder="아이디">
                    <input type="password" class="input_text input_pw" name="password" placeholder="비밀번호">
                    <% if(typeof msg !== 'undefined') { %>
                        <div>
                            <p class="text-center text-info"><%= msg %></p>
                        </div>
                    <% } %>
                    <input type="submit" class="btn_submit btn_select" value="로그인">
                </form>
                <div class="copyright">
                    this is made by hjh
                </div>
            </div>
        </div>
    </div>
 
</body>

</html>